@{
    ViewData["Title"] = "About";
    ViewData["Message"] = "Salles Web MVC App from C# Course";
    ViewData["Professor"] = "Nelio Alves";
}

<h2>@ViewData["Title"]</h2>
<h4>@ViewData["Message"]</h4>

<p>Professor @ViewData["Professor"]</p>

<address>
    <strong>More information: </strong> <a href="http://educandoweb.com.br">Educandoweb.com.br</a>
</address>